<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
	<title th:text="#{app.title}">Home</title>
</head>

<body class="sb-nav-fixed">

	<div th:include="fragments/topbar :: topbar" />

	<div id="layoutSidenav">

		<div id="layoutSidenav_nav" th:include="fragments/menu :: menu" />

		<div id="layoutSidenav_content">

			<main>
				<div class="container-fluid">

					<div th:include="fragments/main_general :: main_general" />

					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{~/}" th:text="#{label.home}">Inicio</a></li>
						<li class="breadcrumb-item active">
							<span th:text="#{label.watchpatients}">Ver pacientes</span>
						</li>
					</ol>

					<div class="mb-4">
						<a th:href="@{~/patient/add-patient}" class="btn btn-primary btn-lg active" role="button"
							aria-pressed="true">
							<span th:text="#{label.addpatient}">Add patient</span>
							<i class="fas fa-plus"></i>
						</a>
					</div>

					<ul class="nav nav-tabs" sec:authorize="hasRole('FACULTATIVE')">
						<li class="nav-item">
							<a class="nav-link" th:href="@{~/patient/patient-list}" th:text="#{label.allpatients}">All
								patients</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{~/patient/patients-of-interest}"
								th:text="#{label.patientsofinterest}">Patients of interest</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" th:href="@{~/patient/last-seen-patients}"
								th:text="#{label.lastseenpatients}">Last seen patients</a>
						</li>
					</ul>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-hospital-user mr-1"></i>
							<span th:text="#{label.patientlist}">Patients list</span>
						</div>
						<div class="card-body">
							<div class="table-responsive">

								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th th:text="#{label.historynumber}">History number</th>
											<th th:text="#{label.dni_nif}">DNI/NIF</th>
											<th th:text="#{label.hist_numsergas}">History Number in SERGAS</th>
											<th th:text="#{label.birthday}">Birthday</th>
											<th th:text="#{label.phonenumber}">Phone</th>
											<th th:text="#{label.name}">Name</th>
											<th th:text="#{label.enabled}">Enabled</th>
											<th th:text="#{label.date}">Date</th>
											<th th:text="#{label.actions}">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="patient : ${patients}">
											<td><a th:href="@{~/patient/patient-details/{id}(id=${patient.id})}"><span
														th:text="${patient.id}">History number</span></a></td>
											<td th:text="${patient.DNI_NIF}">DNI/NIF</td>
											<td th:text="${patient.hist_numsergas}">History Number in SERGAS</td>
											<td th:text="${patient.birthday.toLocalDate()}">Birthday</td>
											<td th:text="${patient.phone}">Phone</td>
											<td th:text="${patient.name}">Name</td>
											<td th:text="${patient.enabled} ? #{label.yes} : #{label.no}">Enabled
											</td>
											<td th:Text="${patient.lastDate.toLocalDate() + ' ' + patient.lastDate.toLocalTime()}">Date</td>
											<td>
												<div class="row">
													<form th:action="@{~/patient/update-patient/{id}(id=${patient.id})}"
														method="GET">
														<button th:title="#{label.updatepatient}" class="btn btn-link" type="submit"><i
																class="fas fa-edit"></i></button>
													</form>
													<form
														th:action="@{~/patient/change-patient-of-interest/{id}(id=${patient.id})}"
														method="POST">
														<button class="btn btn-link" type="submit">
															<i th:title="#{label.unmarkaspatientofinterest}" class="fas fa-clipboard"></i>
														</button>
													</form>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</main>

			<footer class="py-4 bg-light mt-auto">
				<div th:include="fragments/copyright :: copyright" class="container-fluid" />
				<div th:include="fragments/scripts :: general" />
			</footer>

		</div>

	</div>

</body>

</html>