<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
	<title th:text="#{app.title}">Home</title>
</head>

<body class="sb-nav-fixed">

	<div th:include="fragments/topbar :: topbar" />

	<div id="layoutSidenav">

		<div id="layoutSidenav_nav" th:include="fragments/menu :: menu" />

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">

					<div th:include="fragments/main_general :: main_general" />

					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{label.home}">Inicio</a></li>
						<li class="breadcrumb-item"><a th:href="@{/patient/patient-list}"
								th:text="#{label.watchpatients}">Ver pacientes</a></li>
						<li class="breadcrumb-item active">
							<span th:text="#{label.updatepatient}">Actualizar paciente</span>
						</li>
					</ol>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-book-medical mr-1"></i>
							<span th:text="#{label.updatepatient}">Update patient</span>
						</div>
						<div class="card-body">
							<div th:if="${duplicatePatient}" class="alert alert-danger" role="alert">
								<span th:text="#{label.patientexists}">Patient already exists.</span>
							</div>
							<div class="row">
								<div class="mb-3">
									<span class="text-muted" th:text="#{label.historynumber}">History
										number</span>
									<span class="ml-5" th:text="${patientId}">Id</span>
								</div>
							</div>
							<form id="update-form" th:object="${updatePatientForm}"
								th:action="@{/patient/update-patient/{id}(id=${patientId})}" method="POST">
								<div class="form-row">
									<div class="col-md-5">
										<div class="form-group">
											<label class="small mb-1" for="inputName"
												th:text="#{label.name}">Name</label>
											<input class="form-control py-4" th:field="*{name}" id="inputName"
												name="inputName" type="text" th:placeholder="#{label.name}"
												minlength="3" maxlength="60" required />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="small mb-1" for="inputDNI_NIF"
												th:text="#{label.dni_nif}">DNI/NIF</label>
											<input class="form-control py-4" th:field="*{DNI_NIF}" id="inputDNI_NIF"
												name="inputDNI_NIF" type="text" th:placeholder="#{label.dni_nif}"
												minlength="3" maxlength="60" required />
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label class="small mb-1" for="inputMobilePhone"
												th:text="#{label.mobilephone}">Mobile phone</label>
											<input class="form-control py-4" th:field="*{mobile_phone}"
												id="inputMobilePhone" name="inputMobilePhone" type="text"
												th:placeholder="#{label.mobilephone}" minlength="3" maxlength="60"
												required />
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label class="small mb-1" for="inputLandline"
												th:text="#{label.landline}">Landline</label>
											<input class="form-control py-4" th:field="*{landline}" id="inputLandline"
												name="inputLandline" type="text" th:placeholder="#{label.landline}"
												minlength="3" maxlength="60" required />
										</div>
									</div>
								</div>

								<div class="form-row">
									<div class="col md-4">
										<div class="form-group">
											<label for="dateBirthday" class="small mb-1"
												th:text="#{label.birthday}">Birthday</label>
											<input class="form-control py-4" id="dateBirthday" name="dateBirthday"
												placeholder="DD/MM/YYYY" type="text" th:field="*{birthday}" required />
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label class="small mb-1" for="inputHistNumSERGAS"
												th:text="#{label.hist_numsergas}">History Number in SERGAS</label>
											<input class="form-control py-4" th:field="*{hist_numsergas}"
												id="inputHistNumSERGAS" name="inputHistNumSERGAS" type="text"
												th:placeholder="#{label.hist_numsergas}" minlength="3" maxlength="60"
												required />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputPostalAddress"
												th:text="#{label.postalAddress}">Postal address</label>
											<input class="form-control py-4" th:field="*{postal_address}"
												id="inputPostalAddress" name="inputPostalAddress" type="text"
												th:placeholder="#{label.postalAddress}" minlength="3" maxlength="60"
												required />
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label class="small mb-1" for="inputLocation"
												th:text="#{label.location}">Location</label>
											<input class="form-control py-4" th:field="*{location}" id="inputLocation"
												name="inputLocation" type="text" th:placeholder="#{label.location}"
												minlength="3" maxlength="60" required />
										</div>
									</div>
								</div>

								<div class="form-row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="small mb-1" for="inputEmailAddress"
												th:text="#{label.email}">Email</label>
											<input class="form-control py-4" th:field="*{email}" id="inputEmailAddress"
												type="email" aria-describedby="emailHelp"
												placeholder="Correo electronico" required />
										</div>
									</div>
								</div>

								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingPersonalAntecedents">
											<h5 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#accordion"
													href="#collapsePersonalAntecedents" aria-expanded="true"
													aria-controls="collapsePersonalAntecedents">
													<span th:text="#{label.personalantecedents}">Personal
														antecedents</span>
												</a>
											</h5>
										</div>
										<div id="collapsePersonalAntecedents" class="panel-collapse collapse in"
											role="tabpanel" aria-labelledby="headingPersonalAntecedents">
											<div class="panel-body">
												<div class="form-row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="small mb-1" for="inputAllergies"
																th:text="#{label.allergies}">Allergies</label>
															<textarea class="form-control" th:field="*{allergies}"
																id="inputAllergies" name="inputAllergies" rows="5"
																th:placeholder="#{label.allergies}" maxlength="1000" />
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="small mb-1" for="inputDiseases"
																th:text="#{label.diseases}">Diseases</label>
															<textarea class="form-control" th:field="*{diseases}"
																id="inputDiseases" name="inputDiseases" rows="5"
																th:placeholder="#{label.diseases}" maxlength="1000" />
														</div>
													</div>
												</div>

												<div class="form-row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="small mb-1" for="inputInterventions"
																th:text="#{label.interventions}">Interventions</label>
															<textarea class="form-control" th:field="*{interventions}"
																id="inputInterventions" name="inputInterventions"
																rows="5" th:placeholder="#{label.interventions}"
																maxlength="1000" />
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="small mb-1" for="inputFamilyBackground"
																th:text="#{label.family_background}">Family
																background</label>
															<textarea class="form-control"
																th:field="*{family_background}"
																id="inputFamilyBackground" name="inputFamilyBackground"
																rows="5" th:placeholder="#{label.family_background}"
																maxlength="1000" />
														</div>
													</div>
												</div>

												<div class="form-row mb-4">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="checkSmoker"
															th:field="*{smoker}">
														<label class="form-check-label" for="checkSmoker"
															th:text="#{label.smoker}">
															Smoker
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingGinecologycalAntecedents">
											<h5 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#accordion"
													href="#collapseGinecologycalAntecedents" aria-expanded="true"
													aria-controls="collapseGinecologycalAntecedents">
													<span th:text="#{label.ginecologycalantecedents}">Ginecologycal
														antecedents</span>
												</a>
											</h5>
										</div>
										<div id="collapseGinecologycalAntecedents" class="panel-collapse collapse in"
											role="tabpanel" aria-labelledby="headingGinecologycalAntecedents">
											<div class="panel-body">
												<div class="form-row">
													<div class="col-md-2">
														<div class="form-group">
															<label class="small mb-1" for="inputMenarche"
																th:text="#{label.menarchyage}">Menarche age</label>
															<input class="form-control py-4" th:field="*{menarche}"
																id="inputMenarche" type="number" min="0" value="0" />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="small mb-1" for="inputMenopause"
																th:text="#{label.menopauseage}">Menopause age</label>
															<input class="form-control py-4" th:field="*{menopause}"
																id="inputMenopause" type="number" min="0" value="0" />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="small mb-1" for="inputPregnancies"
																th:text="#{label.pregnancies}">Pregnancies</label>
															<input class="form-control py-4" th:field="*{pregnancies}"
																id="inputPregnancies" type="number" min="0" value="0" />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="small mb-1" for="inputChildbirths"
																th:text="#{label.childbirths}">Childbirths</label>
															<input class="form-control py-4" th:field="*{childbirths}"
																id="inputChildbirths" type="number" min="0" value="0" />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="small mb-1" for="inputCesareanSections"
																th:text="#{label.cesareansections}">Cesarean
																sections</label>
															<input class="form-control py-4"
																th:field="*{cesarean_sections}"
																id="inputCesareanSections" type="number" min="0"
																value="0" />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="small mb-1" for="inputMisbirths"
																th:text="#{label.misbirths}">Misbirths</label>
															<input class="form-control py-4" th:field="*{misbirths}"
																id="inputMisbirths" type="number" min="0" value="0" />
														</div>
													</div>
												</div>

												<div class="form-row">
													<div class="col md-4">
														<div class="form-group">
															<label for="dateLastMenstruationDate" class="small mb-1"
																th:text="#{label.lastmenstruationdate}">Last
																menstruation date</label>
															<input class="form-control py-4"
																id="dateLastMenstruationDate"
																name="dateLastMenstruationDate" placeholder="DD/MM/YYY"
																type="text" th:field="*{last_menstruation_date}" />
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputMenstrualType"
																th:text="#{label.menstrualtype}">Menstrual type</label>
															<input class="form-control py-4"
																th:field="*{menstrual_type}" id="inputMenstrualType"
																name="inputMenstrualType" type="text"
																th:placeholder="#{label.menstrualtype}" minlength="3"
																maxlength="60" />
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputContraceptives"
																th:text="#{label.contraceptives}">Contraceptives</label>
															<div>
																<select id="contraceptives" class="form-control py-4"
																	multiple="multiple" th:field="*{contraceptives}">
																	<option th:each="contraceptive : ${contraceptives}"
																		th:value="${contraceptive.id}">
																		<span
																			th:text="${contraceptive.name}">Contraceptive</span>
																	</option>
																</select>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>

								<button type="submit" class="btn btn-primary" th:text="#{label.updatepatient}">Update
									patient</button>

							</form>
						</div>
					</div>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-calendar-alt mr-1"></i>
							<span th:text="#{label.cliniccourse}">Clinic course</span>
						</div>
						<div class="card-body">

							<form id="add-meeting-form" class="mb-4" method="POST"
								th:action="@{/patient/add-meeting/{id}(id=${patientId})}" th:object="${addMeetingForm}"
								enctype="multipart/form-data" sec:authorize="hasRole('FACULTATIVE')">
								<div class="form-group">
									<label class="small mb-1" for="activity"
										th:text="#{label.activity}">Activity</label>
									<input class="form-control py-4" id="activity" name="activity" type="text"
										th:placeholder="#{label.activity}" minlength="3" maxlength="60" required
										th:field="*{activity}" />
								</div>
								<div class="form-group">
									<label class="small mb-1" for="comments"
										th:text="#{label.comments}">Comments</label>
									<textarea id="comments" th:field="*{comments}"></textarea>
								</div>

								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel-heading" role="tab" id="headingQuestions">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion"
												href="#collapseQuestions" aria-expanded="true"
												aria-controls="collapseOne">
												<span th:text="#{label.questions}">Questions</span>
											</a>
										</h4>
									</div>
									<div id="collapseQuestions" class="panel-collapse collapse in" role="tabpanel"
										aria-labelledby="headingQuestions">
										<div class="panel-body">
											<div class="form-group">
												<label class="small mb-1" for="questions"
													th:text="#{label.questions}">Questions</label>

												<div class="alert alert-danger" role="alert" id="error-question"
													style="display:none">
													<span th:text="#{label.requiredfields}">Required fields.</span>
												</div>

												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<button class="btn btn-outline-secondary dropdown-toggle"
															type="button" data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false"
															th:text="#{label.question}">Question</button>
														<ul class="dropdown-menu" id="dropdown-questions">
															<li th:each="question : ${questions}">
																<span class="dropdown-item"
																	th:text="${question.question}">Question</span>
															</li>
														</ul>
													</div>
													<input type="text" class="form-control" id="question-input" />
												</div>
												<div class="mb-3">
													<textarea class="form-control" id="answer-input"></textarea>
												</div>
												<div class="d-flex justify-content-end mb-3">
													<button id="add-question" type="button"
														class="btn btn-success question-option"
														th:text="#{label.addquestion}">Add question</button>
												</div>

												<table class="table" id="table-questions">
													<thead>
														<tr>
															<th scope="col" th:text="#{label.question}">Question</th>
															<th scope="col" th:text="#{label.answer}">Answer</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>

											</div>
										</div>
									</div>

									<div class="panel-heading" role="tab" id="headingDiagnosticTests">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion"
												href="#collapseDiagnosticTests" aria-expanded="true"
												aria-controls="collapseDiagnosticTests">
												<span th:text="#{label.diagnostictests}">Diagnostic tests</span>
											</a>
										</h4>
									</div>
									<div id="collapseDiagnosticTests" class="panel-collapse collapse in" role="tabpanel"
										aria-labelledby="headingDiagnosticTests">
										<div class="panel-body">
											<div class="form-group">
												<label class="small mb-1" for="diagnostic-tests"
													th:text="#{label.diagnostictests}">Diagnostic tests</label>

												<div class="alert alert-danger" role="alert" id="error-diagnostic-test"
													style="display:none">
													<span th:text="#{label.requiredfields}">Required fields.</span>
												</div>

												<div class="form-row">
													<div class="col-md-5 mb-3">
														<select class="browser-default custom-select"
															id="diagnostic-test">
															<option selected="" th:text="#{label.selectdiagnostictest}"
																value="0">
																Select diagnostic test</option>
															<option th:each="diagnosticTest : ${diagnosticTests}"
																th:value="${diagnosticTest.id}"
																th:text="${diagnosticTest.name}">
																Diagnostic test</option>
														</select>
													</div>
													<div class="col-md-5 mb-3">
														<div class="custom-file">
															<input type="file" class="custom-file-input"
																id="file-diagnostic-test">
															<label class="custom-file-label"
																for="file-diagnostic-test"></label>
														</div>
													</div>
													<div class="col-md-2 mb-3">
														<button id="add-diagnostic-test" type="button"
															class="btn btn-success diagnostic-test-option"
															th:text="#{label.adddiagnostictest}">Add diagnostic
															test</button>
													</div>
												</div>

												<table class="table" id="table-diagnostic-tests">
													<thead>
														<tr>
															<th scope="col" th:text="#{label.diagnostictest}">Diagnostic
																test</th>
															<th scope="col" th:text="#{label.file}">File</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>

											</div>
										</div>
									</div>

									<div class="panel-heading" role="tab" id="headingRecipe">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion"
												href="#collapseRecipe" aria-expanded="true"
												aria-controls="collapseRecipe">
												<span th:text="#{label.recipe}">Recipe</span>
											</a>
										</h4>
									</div>
									<div id="collapseRecipe" class="panel-collapse collapse in" role="tabpanel"
										aria-labelledby="headingRecipe">
										<div class="panel-body">
											<div class="form-group">

												<div class="form-row">
													<div class="col-md-2">
														<div class="form-group">
															<label class="small mb-1" for="dateDispensing"
																th:text="#{label.dispensingdate}">Dispensing
																date</label>
															<input class="form-control" id="dateDispensing" type="text"
																th:placeholder="#{label.dispensingdate}" />
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="small mb-1" for="clarifications"
														th:text="#{label.clarifications}">Clarifications</label>
													<textarea id="clarifications" name="clarifications"></textarea>
												</div>

												<div class="alert alert-danger" role="alert" id="error-recipe"
													style="display:none;">
													<span th:text="#{label.requiredfields}">Required fields.</span>
												</div>

												<div class="form-row">
													<div class="col-md-2">
														<div class="form-group">
															<label class="small mb-1" for="medicines"
																th:text="#{label.medicine}">Medicine</label>
															<div class="mb-2">
																<select id="medicines" class="form-control py-4">
																	<option th:text="#{label.selectmedicine}" value="0">
																		Select a medicine</option>
																	<option th:each="m : ${medicines}"
																		th:value="${m.id}">
																		<span th:text="${m.name}">Medicine name</span>
																	</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="small mb-1" for="format"
																th:text="#{label.formatexplanation}">Format</label>
															<input class="form-control" id="format" type="number"
																value="0" />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="small mb-1" for="units"
																th:text="#{label.unitsexplanation}">Units</label>
															<input class="form-control" id="units" type="number"
																value="0" min="0" />
														</div>
													</div>
												</div>

												<div class="form-row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="small mb-1" for="denomination"
																th:text="#{label.denomination}">Denomination</label>
															<input class="form-control" id="denomination" type="text"
																th:placeholder="#{label.denomination}" />
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="small mb-1" for="dosification"
																th:text="#{label.dosification}">Dosification</label>
															<input class="form-control" id="dosification" type="text"
																th:placeholder="#{label.dosification}" />
														</div>
													</div>
												</div>

												<div class="form-row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="small mb-1" for="formOfAdministration"
																th:text="#{label.formofadministration}">Form of
																administration</label>
															<input class="form-control" id="formOfAdministration"
																type="text"
																th:placeholder="#{label.formofadministration}" />
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="small mb-1" for="posology"
																th:text="#{label.posology}">Posology</label>
															<input class="form-control" id="posology" type="text"
																th:placeholder="#{label.posology}" />
														</div>
													</div>
												</div>

												<button class="btn btn-success mb-3 float-right" id="add-medicine"
													type="button" th:text="#{label.addmedicine}">Add medicine</button>

												<table class="table" id="table-medicines">
													<thead>
														<tr>
															<th scope="col" th:text="#{label.medicine}">Medicine</th>
															<th scope="col" th:text="#{label.denomination}">Denomination
															</th>
															<th scope="col" th:text="#{label.dosification}">Dosification
															</th>
															<th scope="col" th:text="#{label.formofadministration}">Form
																of
																administration</th>
															<th scope="col" th:text="#{label.format}">Format</th>
															<th scope="col" th:text="#{label.units}">Units</th>
															<th scope="col" th:text="#{label.posology}">Posology</th>
														</tr>
													</thead>
													<tbody id="table-medicines-content">
													</tbody>
												</table>

												<button class="btn btn-primary mb-3" id="add-recipe" type="button"
													th:text="#{label.addrecipe}">Add recipe</button>

												<h6 th:text="#{label.recipesadded}">Recipes added</h6>
												<span id="recipe-dispensed-for-label-hidden" class="text-muted"
													th:text="#{label.recipedispensedfor}" style="display: none;">Recipe
													dispensed for</span>
												<span id="clarifications-label-hidden" class="text-muted"
													th:text="#{label.clarifications}"
													style="display: none;">Clarifications</span>
												<span id="medicines-label-hidden" class="text-muted"
													th:text="#{label.medicines}" style="display: none;">Medicines</span>

												<ul id="recipes-list">
													<span id="no-recipes-added" th:text="#{label.norecipesadded}">No
														recipes added.</span>
												</ul>

											</div>
										</div>
									</div>
								</div>

								<button id="add-entry-submit" type="submit" class="btn btn-primary"
									th:text="#{label.addentry}">Add
									entry</button>
							</form>

							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default" th:each="meeting, rowStat : ${meetings}">
									<div class="panel-heading" role="tab"
										th:id="'headingCourseClinic-' + ${meeting.id}">
										<h6 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion"
												th:href="'#collapseHeadingCourseClinic-' + ${meeting.id}"
												aria-expanded="true"
												th:attr="aria-controls='collapseHeadingCourseClinic-' + ${meeting.id}">
												<span
													th:text="${meeting.meeting_date.toLocalDate()} + ' ' + ${meeting.meeting_date.toLocalTime()}">Meeting
													date</span>
											</a>
										</h6>
									</div>
									<div th:id="'collapseHeadingCourseClinic-' + ${meeting.id}"
										class="panel-collapse collapse in" role="tabpanel"
										th:attr="aria-labelledby='collapseHeadingCourseClinic-' + ${meeting.id}"
										th:classappend="${rowStat.index} == 0 ? show : ''">
										<div class="panel-body">

											<ul>
												<li>
													<span class="text-muted" th:text="#{label.activity}">Activity</span>
													<span th:text="${meeting.activity}">Activity</span>
												</li>
												<li>
													<span class="text-muted"
														th:text="#{label.facultativeprofile}">Facultative
														profile</span>
													<span th:text="${meeting.user.username}">Facultative
														profile</span>
												</li>
												<li>
													<span class="text-muted" th:text="#{label.comments}">Comments</span>
													<div class="content" th:utext="${meeting.comments}" />
												</li>
												<li>
													<span class="text-muted"
														th:text="#{label.questions}">Questions</span>
													<ul>
														<li th:each="answer : ${meeting.answers}">
															<div>
																<span class="text-muted"
																	th:text="${answer.question.question}">Question</span>
															</div>
															<div>
																<span th:text="${answer.answer}">Answer</span>
															</div>
														</li>
													</ul>
												</li>
												<li>
													<span class="text-muted"
														th:text="#{label.complementarytests}">Complementary tests</span>
													<ul>
														<li th:each="complementaryTest : ${meeting.complementaryTests}">
															<a
																th:href="@{/downloadFile/{id}(id=${complementaryTest.id})}">
																<span
																	th:text="${complementaryTest.fileName} + ' - '">Complementary
																	test name</span>
															</a>
															<span
																th:text="${complementaryTest.diagnosticTest.name}">Diagnostic
																test name</span>
														</li>
													</ul>
												</li>
												<li>
													<span class="text-muted" th:text="#{label.recipes}">Recipes</span>
													<ul>
														<li th:each="recipe : ${meeting.recipes}">
															<span class="text-muted"
																th:text="#{label.recipedispensedfor}">Recipe
																dispensed for</span>
															<span class="ml-2"
																th:text="${recipe.dispensingDate}">Dispensing
																date</span>

															<ul>
																<li>
																	<span class="font-weight-bold"
																		th:text="#{label.clarifications}">Clarifications</span>
																	<div th:utext="${recipe.clarifications}"></div>
																</li>
																<li>
																	<span class="font-weight-bold"
																		th:text="#{label.medicines}">Medicines</span>
																	<table class="table table-sm table-responsive">
																		<thead>
																			<tr>
																				<th scope="col"
																					th:text="#{label.medicine}">Medicine
																				</th>
																				<th scope="col"
																					th:text="#{label.denomination}">
																					Denomination
																				</th>
																				<th scope="col"
																					th:text="#{label.dosification}">
																					Dosification
																				</th>
																				<th scope="col"
																					th:text="#{label.formofadministration}">
																					Form
																					of
																					administration</th>
																				<th scope="col"
																					th:text="#{label.format}">Format
																				</th>
																				<th scope="col"
																					th:text="#{label.units}">Units</th>
																				<th scope="col"
																					th:text="#{label.posology}">Posology
																				</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr
																				th:each="medicine : ${recipe.medicines}">
																				<th scope="row"
																					th:text="${medicine.medicine.name}">
																					Medicine</th>
																				<td th:text="${medicine.denomination}">
																					Denomination</td>
																				<td th:text="${medicine.dosification}">
																					Dosification</td>
																				<td
																					th:text="${medicine.formOfAdministration}">
																					Form of administration</td>
																				<td th:text="${medicine.format}">
																					Format</td>
																				<td th:text="${medicine.units}">
																					Units</td>
																				<td th:text="${medicine.posology}">
																					Posology</td>
																			</tr>
																		</tbody>
																	</table>
																</li>
															</ul>

															<div class="row">
																<form method="GET"
																	th:action="@{/recipe/get-recipe/{id}(id=${recipe.id})}">
																	<button class="btn btn-link" type="submit">
																		<span th:text="#{label.generaterecipe}">Generate
																			recipe</span>
																	</button>
																</form>
															</div>
														</li>
													</ul>
												</li>

											</ul>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

			</main>

			<footer class="py-4 bg-light mt-auto">
				<div th:include="fragments/copyright :: copyright" class="container-fluid" />
				<div th:include="fragments/scripts :: general" />
			</footer>

			<script th:src="@{/js/update-patient.js}"></script>

		</div>
	</div>
</body>

</html>