<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<property name="connectionString">${env:SPRING_DATASOURCE_URL:-${bundle:application:spring.datasource.url}}
		</property>
		<property name="driverClassName">${bundle:application:spring.datasource.driver-class-name}
		</property>
		<property name="userName">${env:SPRING_DATASOURCE_USERNAME:-${bundle:application:spring.datasource.username}}
		</property>
		<property name="password">${env:SPRING_DATASOURCE_PASSWORD:-${bundle:application:spring.datasource.password}}
		</property>
	</Properties>

	<Appenders>
		<JDBC name="MySQLDatabase" tableName="application_logs">
			<DriverManager connectionString="${connectionString}"
				driverClassName="${driverClassName}" userName="${userName}"
				password="${password}" />
			<Column name="level" pattern="%-5level" />
			<Column name="timestamp" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}" />
			<Column name="thread" pattern="%t" />
			<Column name="logger" pattern="%c{1}" />
			<Column name="message" pattern="%msg" />
		</JDBC>
		<File name="LogToFile" fileName="target/logs/app.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="es.udc.fic.ginecologia" level="warn"
			additivity="false">
			<AppenderRef ref="MySQLDatabase" />
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="console" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="MySQLDatabase" />
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="console" />
		</Root>
	</Loggers>

</Configuration>
