<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
	<title th:text="#{app.title}">Home</title>
</head>

<body class="sb-nav-fixed">

	<div th:include="fragments/topbar :: topbar" />

	<div id="layoutSidenav">

		<div id="layoutSidenav_nav" th:include="fragments/menu :: menu" />

		<div id="layoutSidenav_content">

			<main>

				<div class="container-fluid">

					<div th:include="fragments/main_general :: main_general" />

					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{label.home}">Inicio</a></li>
						<li class="breadcrumb-item active">
							<span th:text="#{label.checkagenda}">Comprobar agenda</span>
						</li>
					</ol>

					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingToday">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion"
										href="#collapseToday" aria-expanded="true" aria-controls="collapseToday">
										<span th:text="#{label.today} + ' - ' + ${today}">Today</span>
									</a>
								</h4>
							</div>
							<div id="collapseToday" class="panel-collapse collapse in" role="tabpanel"
								aria-labelledby="headingToday">
								<div class="panel-body">
									<ul th:each="line : ${todayLines}">
										<li>
											<span th:text="${line.hour} + ' - '">Hour</span>
											<span th:text="${line.patient} + ' - '">Patient</span>
											<th:block th:switch="${line.state.name}">
												<span th:case="'opened'" th:text="#{label.opened}" class="badge badge-success">Opened</span>
												<span th:case="'closed'" th:text="#{label.closed}" class="badge badge-warning">Closed</span>
												<span th:case="'cancelled'" th:text="#{label.cancelled}" class="badge badge-danger">Cancelled</span>
											</th:block>
											<div class="row">
												<span th:text="${line.reason}">Reason</span>
											</div>
											<form method="POST" th:if="${line.state.name} == 'opened'"
												th:action="@{/calendar/set-entry-as-closed/{id}(id=${line.id})}">
												<button class="btn btn-warning btn-sm"
													th:text="#{label.closemeeting}">Close meeting</button>
											</form>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="panel-heading" role="tab" id="headingTomorrow">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTomorrow"
										aria-expanded="true" aria-controls="collapseTomorrow">
										<span th:text="#{label.tomorrow} + ' - ' + ${tomorrow}">Tomorrow</span>
									</a>
								</h4>
							</div>
							<div id="collapseTomorrow" class="panel-collapse collapse in" role="tabpanel"
								aria-labelledby="headingTomorrow">
								<div class="panel-body">
									<ul th:each="line : ${tomorrowLines}">
										<li>
											<span th:text="${line.hour} + ' - '">Hour</span>
											<span th:text="${line.patient} + ' - '">Patient</span>
											<th:block th:switch="${line.state.name}">
												<span th:case="'opened'" th:text="#{label.opened}" class="badge badge-success">Opened</span>
												<span th:case="'closed'" th:text="#{label.closed}" class="badge badge-warning">Closed</span>
												<span th:case="'cancelled'" th:text="#{label.cancelled}" class="badge badge-danger">Cancelled</span>
											</th:block>
											<div class="row">
												<span th:text="${line.reason}">Reason</span>
											</div>
											<form method="POST" th:if="${line.state.name} == 'opened'"
												th:action="@{/calendar/set-entry-as-closed/{id}(id=${line.id})}">
												<button class="btn btn-warning btn-sm"
													th:text="#{label.closemeeting}">Close meeting</button>
											</form>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="panel-heading" role="tab" id="headingNextDays">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNextDays"
										aria-expanded="true" aria-controls="collapseNextDays">
										<span th:text="#{label.nextdays}">Next days</span>
									</a>
								</h4>
							</div>
							<div id="collapseNextDays" class="panel-collapse collapse in" role="tabpanel"
								aria-labelledby="headingNextDays">
								<div class="panel-body">
									<ul th:each="line : ${nextDays}">
										<li>
											<span th:text="${line.date} + ' - '">Date</span>
											<span th:text="${line.hour} + ' - '">Hour</span>
											<span th:text="${line.patient} + ' - '">Patient</span>
											<th:block th:switch="${line.state.name}">
												<span th:case="'opened'" th:text="#{label.opened}" class="badge badge-success">Opened</span>
												<span th:case="'closed'" th:text="#{label.closed}" class="badge badge-warning">Closed</span>
												<span th:case="'cancelled'" th:text="#{label.cancelled}" class="badge badge-danger">Cancelled</span>
											</th:block>
											<div class="row">
												<span th:text="${line.reason}">Reason</span>
											</div>
											<form method="POST" th:if="${line.state.name} == 'opened'"
												th:action="@{/calendar/set-entry-as-closed/{id}(id=${line.id})}">
												<button class="btn btn-warning btn-sm"
													th:text="#{label.closemeeting}">Close meeting</button>
											</form>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="panel-heading" role="tab" id="headingPreviousDays">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePreviousDays"
										aria-expanded="true" aria-controls="collapsePreviousDays">
										<span th:text="#{label.previousdays}">Previous days</span>
									</a>
								</h4>
							</div>
							<div id="collapsePreviousDays" class="panel-collapse collapse in" role="tabpanel"
								aria-labelledby="headingPreviousDays">
								<div class="panel-body">
									<ul th:each="line : ${previousDays}">
										<li>
											<span th:text="${line.date} + ' - '">Date</span>
											<span th:text="${line.hour} + ' - '">Hour</span>
											<span th:text="${line.patient} + ' - '">Patient</span>
											<th:block th:switch="${line.state.name}">
												<span th:case="'opened'" th:text="#{label.opened}" class="badge badge-success">Opened</span>
												<span th:case="'closed'" th:text="#{label.closed}" class="badge badge-warning">Closed</span>
												<span th:case="'cancelled'" th:text="#{label.cancelled}" class="badge badge-danger">Cancelled</span>
											</th:block>
											<div class="row">
												<span th:text="${line.reason}">Reason</span>
											</div>
											<form method="POST" th:if="${line.state.name} == 'opened'"
												th:action="@{/calendar/set-entry-as-closed/{id}(id=${line.id})}">
												<button class="btn btn-warning btn-sm"
													th:text="#{label.closemeeting}">Close meeting</button>
											</form>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>

				</div>

			</main>

			<footer class="py-4 bg-light mt-auto">
				<div th:include="fragments/copyright :: copyright" class="container-fluid" />
				<div th:include="fragments/scripts :: general" />
			</footer>

		</div>
	</div>

</body>