<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
	<title th:text="#{app.title}">Home</title>
</head>

<body class="sb-nav-fixed">

	<div th:include="fragments/topbar :: topbar" />

	<div id="layoutSidenav">

		<div id="layoutSidenav_nav" th:include="fragments/menu :: menu" />

		<div id="layoutSidenav_content">

			<main>
				<div class="container-fluid">

					<div th:include="fragments/main_general :: main_general" />

					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{label.home}">Inicio</a></li>
						<li class="breadcrumb-item active"><span th:text="#{label.specialitiesmanagement}">Gestión de
								especialidades</span></li>
					</ol>

					<div th:if="${duplicateSpeciality}" class="alert alert-danger" role="alert">
						<span th:text="#{label.duplicatespeciality}">The speciality already exists.</span>
					</div>

					<div class="panel-group mb-4" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingAddSpeciality">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion"
										href="#collapseAddSpeciality" aria-expanded="true" aria-controls="collapseOne"
										th:text="#{label.addspeciality}">
										Add speciality
									</a>
								</h4>
							</div>
							<div id="collapseAddSpeciality" class="panel-collapse collapse in" role="tabpanel"
								aria-labelledby="headingAddSpeciality">
								<div class="panel-body">
									<form id="add-speciality-form" method="POST" th:object="${addSpecialityForm}"
										th:action="@{/speciality/add-speciality}">
										<div class="form-group">
											<label class="small mb-1" for="inputName"
												th:text="#{label.specialityname}">Name</label>
											<input class="form-control py-4" id="inputName" type="text"
												th:field="*{name}" th:placeholder="#{label.specialityname}" />

										</div>
										<div class="form-group">
											<button class="btn btn-primary" type="submit"
												th:text="#{label.addspeciality}">Add speciality</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table mr-1"></i>
							<span th:text="#{label.specialitieslist}">Specialities list</span>
						</div>
						<div class="card-body">
							<div class="table-responsive">

								<p>
									<button class="btn btn-primary" type="button" data-toggle="collapse"
										data-target="#collapseSearchSpecialities" aria-expanded="false"
										aria-controls="collapseSearchSpecialities"
										th:text="#{label.searchspecialities}">
										Search specialities
									</button>
								</p>

								<div class="collapse mb-3" id="collapseSearchSpecialities">
									<div class="card card-body">
										<form id="search-specialities-form" method="POST"
											th:object="${searchSpecialitiesForm}"
											th:action="@{/speciality/search-specialities}">
											<div class="form-group">
												<label class="small mb-1" for="inputName"
													th:text="#{label.specialityname}">Name</label>
												<input class="form-control py-4" id="inputName" type="text"
													th:field="*{name}" th:placeholder="#{label.specialityname}" />
											</div>
											<div class="form-check mb-4">
												<input class="form-check-input" type="checkbox" id="checkEnabled"
													th:field="*{enabled}" />
												<label class="form-check-label" for="checkEnabled"
													th:text="#{label.enabled}">
													Enabled
												</label>
											</div>
											<div class="form-group">
												<button class="btn btn-primary" type="submit"
													th:text="#{label.searchspecialities}">Search specialities</button>
											</div>
										</form>
									</div>
								</div>

								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th th:text="#{label.specialityname}">Name</th>
											<th th:text="#{label.enabled}">Enabled</th>
											<th th:text="#{label.actions}">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="speciality, rowStat : *{specialities}">
											<td th:text="${speciality.name}">Name</td>
											<td th:text="${speciality.enabled} ? #{label.yes} : #{label.no}">Enabled
											</td>
											<td>
												<div class="row">
													<a th:href="'#updateSpecialityModal-' + ${speciality.id}"
														role="button" data-toggle="modal"><i
															class="fas fa-pen ml-3 mt-2"></i></a>

													<div th:id="'updateSpecialityModal-' + ${speciality.id}"
														class="modal fade">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h4 class="modal-title"
																		th:text="#{label.updatespeciality}">Update
																		speciality</h4>
																</div>
																<div class="modal-body">
																	<form th:id="'update-speciality-form-' + ${speciality.id}" method="POST"
																	 th:action="@{/speciality/update/{id}(id=${speciality.id})}"
																	 th:object="${updateSpecialityForm}" >
																		<div class="form-group">
																			<label class="small mb-1" for="inputName"
																				th:text="#{label.specialityname}">Name</label>
																			<input class="form-control py-4" type="text"
																				th:value="${speciality.name}"
																				th:field="*{name}"
																				th:placeholder="#{label.specialityname}" />
																		</div>
																		<div class="form-group">
																			<button class="btn btn-primary"
																				type="submit"
																				th:text="#{label.updatespeciality}">Update
																				speciality</button>
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-default"
																		data-dismiss="modal">Cerrar</button>
																</div>
															</div>
														</div>
													</div>

													<form method="POST"
														th:action="@{/speciality/change-speciality-state/{id}(id=${speciality.id})}">
														<button class="btn btn-link" type="submit">
															<i class="fas fa-check" th:if="${!speciality.enabled}"></i>
															<i class="fas fa-times" th:if="${speciality.enabled}"></i>
														</button>
													</form>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>

				</div>
			</main>

			<footer class="py-4 bg-light mt-auto">
				<div th:include="fragments/copyright :: copyright" class="container-fluid" />
				<div th:include="fragments/scripts :: general" />
			</footer>

			<script th:src="@{/js/speciality-list.js}"></script>

		</div>

	</div>

</body>

</html>