<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
	<title th:text="#{app.title}">Home</title>
</head>

<body class="sb-nav-fixed">

	<div th:include="fragments/topbar :: topbar" />

	<div id="layoutSidenav">

		<div id="layoutSidenav_nav" th:include="fragments/menu :: menu" />

		<div id="layoutSidenav_content">

			<main>
				<div class="container-fluid">

					<div th:include="fragments/main_general :: main_general" />

					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{label.home}">Inicio</a></li>
						<li class="breadcrumb-item"><a th:href="@{/user/user-list}"
								th:text="#{label.usersmanagement}">Gestión de
								usuarios</a></li>
						<li class="breadcrumb-item active"><span th:text="#{label.updateUser}">Update user</span></li>
					</ol>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-user mr-1"></i>
							<span th:text="#{label.updateUser}">Update user</span>
						</div>
						<div class="card-body">
							<div th:if="${duplicateUser}" class="alert alert-danger" role="alert">
								<span th:text="#{label.userexists}">User already exists.</span>
							</div>
							<form id="update-form" th:object="${updateForm}"
								th:action="@{/user/update/{id}(id=${userId})}" method="POST">
								<div class="form-group">
									<label class="small mb-1" for="inputName" th:text="#{label.name}">Nombre
										completo</label>
									<input class="form-control py-4" th:field="*{name}" id="inputName" type="text"
										placeholder="Nombre completo" minlength="3" maxlength="60" required />
								</div>
								<div class="form-group">
									<label class="small mb-1" for="inputEmailAddress"
										th:text="#{label.email}">Email</label>
									<input class="form-control py-4" th:field="*{email}" id="inputEmailAddress"
										type="email" aria-describedby="emailHelp" placeholder="Correo electronico"
										required />
								</div>
								<div class="form-row">
									<div class="col-md-9">
										<div class="form-group">
											<label class="small mb-1" for="inputPostalAddress"
												th:text="#{label.postalAddress}">Postal address</label>
											<input class="form-control py-4" th:field="*{postalAddress}"
												id="inputPostalAddress" type="text" placeholder="Direccion postal"
												minlength="10" maxlength="100" required />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="small mb-1" for="inputLocation"
												th:text="#{label.location}">Location</label>
											<input class="form-control py-4" th:field="*{location}" id="inputLocation"
												type="text" placeholder="Poblacion" minlength="3" maxlength="60"
												required />
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputDNI" th:text="#{label.dni}">DNI</label>
											<input class="form-control py-4" th:field="*{DNI}" id="inputDNI"
												name="inputDNI" type="text" placeholder="DNI" minlength="9"
												maxlength="9" required />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputPhoneNumber"
												th:text="#{label.phonenumber}">Phone number</label>
											<input class="form-control py-4" th:field="*{phoneNumber}"
												id="inputPhoneNumber" name="inputPhoneNumber" type="text"
												placeholder="Nº de telefono" minlength="9" maxlength="9" required />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputCollegiateNumber"
												th:text="#{label.collegiatenumber}">Collegiate number</label>
											<input class="form-control py-4" th:field="*{collegiateNumber}"
												id="inputCollegiateNumber" name="inputCollegiateNumber" type="text"
												placeholder="Nº de colegiado" minlength="9" maxlength="9" />
										</div>
									</div>
								</div>
								<fieldset sec:authorize="hasRole('ADMIN')" class="form-group" id="checkboxes"
									name="checkboxes">
									<legend class="col-form-label col-sm-2 pt-0" th:text="#{label.roles}">Roles</legend>
									<div class="col-sm-1">
										<div class="form-check" th:each="role : ${roles}">
											<input class="form-check-input" type="checkbox" name="roles[]"
												th:field="*{roles}" th:value="${role.id}" th:id="'check-' + ${role.id}">
											<div th:switch="${role.name}">
												<label th:case="'ROLE_FACULTATIVE'" class="form-check-label"
													th:for="'check-' + ${role.id}" th:text="#{label.facultative}">
													Facultative
												</label>
												<label th:case="'ROLE_ADMIN'" class="form-check-label"
													th:for="'check-' + ${role.id}" th:text="#{label.admin}">
													Admin
												</label>
												<label th:case="'ROLE_CITATIONS'" class="form-check-label"
													th:for="'check-' + ${role.id}" th:text="#{label.citations}">
													Citations
												</label>
											</div>
										</div>
									</div>
								</fieldset>
								<button type="submit" class="btn btn-primary" th:text="#{label.updateUser}">Update
									user</button>
							</form>
						</div>
					</div>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-lock mr-1"></i>
							<span th:text="#{label.changepassword}">Change password</span>
						</div>
						<div class="card-body">
							<div th:if="${wrongPassword}" class="alert alert-danger" role="alert">
								<span th:text="#{label.wrongcredentials}">Wrong credentials</span>
							</div>
							<form id="password-form" th:action="@{/user/change-password/{id}(id=${userId})}"
								method="POST" th:object="${changePasswordForm}">
								<div class="form-row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="small mb-1" for="inputNewPassword"
												th:text="#{label.newpassword}">New password</label>
											<input class="form-control py-4" id="inputNewPassword"
												name="inputNewPassword" type="password" placeholder="Nuevo password"
												minlength="3" maxlength="60" required th:field="*{newPassword}" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="small mb-1" for="inputConfirmPassword"
												th:text="#{label.confirm}">Confirm</label>
											<input class="form-control py-4" id="inputConfirmPassword"
												name="inputConfirmPassword" type="password" placeholder="Confirmar"
												minlength="3" maxlength="60" required />
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary" th:text="#{label.changePassword}">Change
									password</button>
							</form>
						</div>
					</div>

					<div class="card mb-4" id="schedule-card">
						<div class="card-header">
							<i class="fas fa-calendar-week mr-1"></i>
							<span th:text="#{label.schedule}">Schedule</span>
						</div>
						<div class="card-body">
							<div id="schedule-alert" th:text="#{label.schedulealert}" class="alert alert-danger" role="alert" style="display: none;">
								The user is registered as facultative. Please, establish a schedule.
							</div>
							<form id="schedule-form" th:method="POST"
								th:action="@{/user/change-schedule/{id}(id=${userId})}" th:object="${scheduleForm}">
								<div class="form-row" th:each="schedule, scheduleStat : *{schedules}">
									<div class="form-check mr-5">
										<input class="form-check-input checkbox-schedule" type="checkbox"
											th:value="${schedule.weekday}" th:id="'day-' + ${schedule.weekday}"
											th:field="*{schedules[__${scheduleStat.index}__].selected}">
										<label class="form-check-label" th:for="'day-' + ${schedule.weekday}">
											<th:block th:switch="${schedule.weekday}">
												<div th:case="'0'">
													<span th:text="#{label.monday}">Monday</span>
												</div>
												<div th:case="'1'">
													<span th:text="#{label.tuesday}">Tuesday</span>
												</div>
												<div th:case="'2'">
													<span th:text="#{label.wednesday}">Wednesday</span>
												</div>
												<div th:case="'3'">
													<span th:text="#{label.thursday}">Thursday</span>
												</div>
												<div th:case="'4'">
													<span th:text="#{label.friday}">Friday</span>
												</div>
											</th:block>
										</label>
										<div class="form-row">
											<div class="col-sm-3">
												<input type="text" class="form-control time-text"
													th:id="'initialHour-' + ${schedule.weekday}"
													th:field="*{schedules[__${scheduleStat.index}__].initial_hour}"
													th:disabled="${!schedule.selected}"
													th:value="${schedule.initial_hour}"
													th:required="${schedule.selected} ? 'required' : ''" />
											</div>
											<div class="col-sm-3">
												<input type="text" class="form-control time-text"
													th:id="'finalHour-' + ${schedule.weekday}"
													th:field="*{schedules[__${scheduleStat.index}__].final_hour}"
													th:disabled="${!schedule.selected}"
													th:value="${schedule.final_hour}"
													th:required="${schedule.selected} ? 'required' : ''" />
											</div>
										</div>
									</div>
								</div>
								<button class="btn btn-primary mt-3" th:text="#{label.changeschedule}">Change
									schedule</button>
							</form>
						</div>
					</div>

					<div class="card mb-4" th:if="${isFacultative}">
						<div class="card-header">
							<i class="fas fa-certificate mr-1"></i>
							<span th:text="#{label.specialities}">Specialities</span>
						</div>
						<div class="card-body">
							<form id="speciality-form" th:method="POST"
								th:action="@{/speciality/change-specialities/{id}(id=${userId})}"
								th:object="${specialitiesToAddForm}">
								<div class="row d-flex justify-content-between">
									<div class="col-sm-6 my-2">
										<label class="medium font-weight-bold mb-1">Especialidades a añadir</label>
										<select multiple class="form-control" id="selectAddSpecialities">
											<option th:each="speciality : ${specialities}" th:value="${speciality.id}"
												th:id="'speciality-' + ${speciality.id}" th:text="${speciality.name}">
												Speciality</option>
										</select>
										<button id="btnAddSpecialities" type="button"
											class="btn btn-success form-control mt-2">Añadir especialidades</button>
									</div>
									<div class="col-sm-6 my-2">
										<label class="medium font-weight-bold mb-1">Especialidades añadidas</label>
										<select multiple class="form-control" id="selectQuitSpecialities"
											th:field="*{specialitiesToAdd}">
											<option th:each="speciality : ${specialitiesFromUser}"
												th:id="'speciality-' + ${speciality.id}" th:value="${speciality.id}"
												th:text="${speciality.name}">Speciality
											</option>
										</select>
										<button id="btnQuitSpecialities" type="button"
											class="btn btn-danger form-control mt-2">Quitar
											especialidades</button>
									</div>
								</div>
								<button class="btn btn-primary form-control mt-2" id="btnSubmitSpecialities">Guardar
									cambios</button>
							</form>
						</div>
					</div>
				</div>
			</main>

			<footer class="py-4 bg-light mt-auto">
				<div th:include="fragments/copyright :: copyright" class="container-fluid" />
				<div th:include="fragments/scripts :: general" />
				<script th:src="@{/js/update.js}"></script>
			</footer>

		</div>

</body>

</html>