<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
	<title th:text="#{app.title}">Home</title>
</head>

<body class="sb-nav-fixed">

	<div th:include="fragments/topbar :: topbar" />

	<div id="layoutSidenav">

		<div id="layoutSidenav_nav" th:include="fragments/menu :: menu" />

		<div id="layoutSidenav_content">

			<main>
				<div class="container-fluid">

					<div th:include="fragments/main_general :: main_general" />

					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{label.home}">Inicio</a></li>
						<li class="breadcrumb-item active"><span th:text="#{label.settings}">Settings</span></li>
					</ol>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-user mr-1"></i>
							<span th:text="#{label.settings}">Settings</span>
						</div>
						<div class="card-body">
							<div th:if="${duplicateUser}" class="alert alert-danger" role="alert">
								<span th:text="#{label.userexists}">User already exists.</span>
							</div>
							<form id="update-form" th:object="${updateForm}"
								th:action="@{/user/update/{id}(id=${userId})}" method="POST">
								<div class="form-group">
									<label class="small mb-1" for="inputName" th:text="#{label.name}">Nombre
										completo</label>
									<input class="form-control py-4" th:field="*{name}" id="inputName" type="text"
										placeholder="Nombre completo" minlength="3" maxlength="60" required />
								</div>
								<div class="form-group">
									<label class="small mb-1" for="inputEmailAddress"
										th:text="#{label.email}">Email</label>
									<input class="form-control py-4" th:field="*{email}" id="inputEmailAddress"
										type="email" aria-describedby="emailHelp" placeholder="Correo electronico"
										required />
								</div>
								<div class="form-row">
									<div class="col-md-9">
										<div class="form-group">
											<label class="small mb-1" for="inputPostalAddress"
												th:text="#{label.postalAddress}">Postal address</label>
											<input class="form-control py-4" th:field="*{postalAddress}"
												id="inputPostalAddress" type="text" placeholder="Direccion postal"
												minlength="10" maxlength="100" required />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="small mb-1" for="inputLocation"
												th:text="#{label.location}">Location</label>
											<input class="form-control py-4" th:field="*{location}" id="inputLocation"
												type="text" placeholder="Poblacion" minlength="3" maxlength="60"
												required />
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputDNI" th:text="#{label.dni}">DNI</label>
											<input class="form-control py-4" th:field="*{DNI}" id="inputDNI"
												name="inputDNI" type="text" placeholder="DNI" minlength="9"
												maxlength="9" required />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputPhoneNumber"
												th:text="#{label.phonenumber}">Phone number</label>
											<input class="form-control py-4" th:field="*{phoneNumber}"
												id="inputPhoneNumber" name="inputPhoneNumber" type="text"
												placeholder="Nº de telefono" minlength="9" maxlength="9" required />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputCollegiateNumber"
												th:text="#{label.collegiatenumber}">Collegiate number</label>
											<input class="form-control py-4" th:field="*{collegiateNumber}"
												id="inputCollegiateNumber" name="inputCollegiateNumber" type="text"
												placeholder="Nº de colegiado" minlength="9" maxlength="9" />
										</div>
									</div>
								</div>
								<fieldset sec:authorize="hasRole('ADMIN')" class="form-group" id="checkboxes"
									name="checkboxes">
									<legend class="col-form-label col-sm-2 pt-0" th:text="#{label.roles}">Roles</legend>
									<div class="col-sm-1">
										<div class="form-check" th:each="role : ${roles}">
											<input class="form-check-input" type="checkbox" name="roles[]"
												th:field="*{roles}" th:value="${role.id}" th:id="'check-' + ${role.id}">
											<label class="form-check-label" th:for="'check-' + ${role.id}"
												th:text="${role.name}">
												Role
											</label>
										</div>
									</div>
								</fieldset>
								<button type="submit" class="btn btn-primary" th:text="#{label.updateUser}">Update
									user</button>
							</form>
						</div>
					</div>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-lock mr-1"></i>
							<span th:text="#{label.changepassword}">Change password</span>
						</div>
						<div class="card-body">
							<div th:if="${wrongPassword}" class="alert alert-danger" role="alert">
								<span th:text="#{label.wrongcredentials}">Wrong credentials</span>
							</div>
							<form id="password-form" th:action="@{/user/change-password/{id}(id=${userId})}" method="POST"
								th:object="${changePasswordForm}">
								<div class="form-row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputOldPassword"
												th:text="#{label.oldpassword}">Old password</label>
											<input class="form-control py-4" id="inputOldPassword"
												name="inputOldPassword" type="password" placeholder="Password viejo"
												minlength="3" maxlength="60" required th:field="*{oldPassword}" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputNewPassword"
												th:text="#{label.newpassword}">New password</label>
											<input class="form-control py-4" id="inputNewPassword"
												name="inputNewPassword" type="password" placeholder="Nuevo password"
												minlength="3" maxlength="60" required th:field="*{newPassword}" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputConfirmPassword"
												th:text="#{label.confirm}">Confirm</label>
											<input class="form-control py-4" id="inputConfirmPassword"
												name="inputConfirmPassword" type="password" placeholder="Confirmar"
												minlength="3" maxlength="60" required />
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary" th:text="#{label.changePassword}">Change
									password</button>
							</form>
						</div>
					</div>
				</div>
			</main>

			<footer class="py-4 bg-light mt-auto">
				<div th:include="fragments/copyright :: copyright" class="container-fluid" />
				<div th:include="fragments/scripts :: general" />
				<script th:src="@{/js/update-own-data.js}"></script>
			</footer>

		</div>

</body>

</html>