<div th:fragment="menu">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading" th:text="#{label.gotohome}">Go to home</div>
				<a class="nav-link" th:href="@{/}">
					<div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
					<span th:text="#{label.home}">Home</span>
				</a>
			</div>
			
			<div class="nav" sec:authorize="hasRole('ADMIN')">
				<div class="sb-sidenav-menu-heading" th:text="#{label.settings}">Settings</div>
				<a class="nav-link" th:href="@{/settings/name-and-logo}">
					<div class="sb-nav-link-icon"><i class="fas fa-images"></i></div>
					<span th:text="#{label.nameandlogosettings}">Name and logo settings</span>
				</a>
			</div>
			
			<div class="nav" sec:authorize="hasRole('FACULTATIVE')">
				<div class="sb-sidenav-menu-heading" th:text="#{label.patients}">Patients</div>
				<a class="nav-link" th:href="@{/patient/patient-list}">
					<div class="sb-nav-link-icon"><i class="fas fa-hospital-user"></i></div>
					<span th:text="#{label.watchpatients}">Watch patients</span>
				</a>
			</div>
			
			<div class="nav" sec:authorize="hasRole('ADMIN')">
				<div class="sb-sidenav-menu-heading" th:text="#{label.management}">Management</div>
				<a class="nav-link" th:href="@{/user/user-list}">
					<div class="sb-nav-link-icon"><i class="fas fa-lock"></i></div>
					<span th:text="#{label.usersmanagement}">Users management</span>
				</a>
				<a class="nav-link" th:href="@{/speciality/speciality-list}">
					<div class="sb-nav-link-icon"><i class="fas fa-certificate"></i></div>
					<span th:text="#{label.specialitiesmanagement}">Specialities management</span>
				</a>
				<a class="nav-link" th:href="@{/medicine/medicine-list}">
					<div class="sb-nav-link-icon"><i class="fas fa-prescription-bottle-alt"></i></div>
					<span th:text="#{label.medicinesmanagement}">Medicines management</span>
				</a>
				<a class="nav-link" th:href="@{/diagnostic-test/diagnostic-test-list}">
					<div class="sb-nav-link-icon"><i class="fas fa-stethoscope"></i></div>
					<span th:text="#{label.diagnostictestsmanagement}">Diagnostic tests management</span>
				</a>
				<a class="nav-link" th:href="@{/contraceptive/contraceptive-list}">
					<div class="sb-nav-link-icon"><i class="fas fa-capsules"></i></div>
					<span th:text="#{label.contraceptivesmanagement}">Contraceptives management</span>
				</a>
			</div>
			
		</div>
		<div class="sb-sidenav-footer">
			<div class="small"><span th:text="#{label.loggedinas}">Logged in as:</span></div>
			<span sec:authentication="name"></span>
		</div>
	</nav>
</div>