<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    
	<head th:include="fragments/header :: header">
		<title th:text="#{app.title}">Home</title>
	</head>

    <body class="sb-nav-fixed">
		
		<div th:include="fragments/topbar :: topbar" />

        <div id="layoutSidenav">

            <div id="layoutSidenav_nav" th:include="fragments/menu :: menu" />

            <div id="layoutSidenav_content">

                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4" th:text="#{app.title}">Title</h1>
	
						<form name="logoutForm" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
							<input type="submit" value="logout" />
						</form>

                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active" th:text="#{label.home}">Home</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                <span th:text="#{label.sampletable}">DataTable Example</span>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
										
										<form>
										    <div class="form-group row">
										        <label for="inputLogin" class="col-sm-1 col-form-label">Login</label>
										        <div class="col-sm-3">
										            <input type="text" class="form-control" id="inputLogin" placeholder="Login">
										        </div>
												<label for="inputRole" class="col-sm-1 col-form-label">Rol</label>
											    <div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioAll" value="all">
													<label class="form-check-label" for="inlineRadioAll">Todos</label>
											    </div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioMedical" value="medical">
													<label class="form-check-label" for="inlineRadioMedical">Facultativo</label>
											    </div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioAdmin" value="admin">
													<label class="form-check-label" for="inlineRadioAdmin">Administrador</label>
											    </div>
										    </div>
											<div class="form-group row">
												<label class="col-sm-1 col-form-label">Fecha de alta</label>
												<div class="col-sm-2">
													<input class="form-control" id="dateFrom" name="dateFrom" placeholder="DD/MM/YYY" type="text"/>
												</div>
												<div class="col-sm-2">
													<input class="form-control" id="dateTo" name="dateTo" placeholder="DD/MM/YYY" type="text"/>
												</div>
												<button type="submit" class="btn btn-primary">Buscar</button>
											</div>
										</form>
									
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
								          <tr>
								           <th>Id</th>
								           <th>Name</th>
										   <th>Username</th>
								           <th>Email</th>
								          </tr>
								        </thead>
								        <tbody>
								          <tr th:each="user : ${users}">
								             <td th:text="${user.id}">Id</td>
								             <td th:text="${user.name}">Name</td>
											 <td th:text="${user.username}">Username</td>
											 <td th:text="${user.email}">Email</td>
								          </tr>
								        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <footer class="py-4 bg-light mt-auto">
                    <div th:include="fragments/copyright :: copyright" class="container-fluid"/>
					<div th:include="fragments/scripts :: general" />
                </footer>

				<script th:src="@{/js/index.js}"></script>
				
            </div>
        </div>
		
    </body>
</html>
