<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    
	<head th:include="fragments/header :: header">
		<title th:text="#{app.title}">Home</title>
	</head>

    <body class="sb-nav-fixed">
		
		<div th:include="fragments/topbar :: topbar" />

        <div id="layoutSidenav">
			
			<div id="layoutSidenav_nav" th:include="fragments/menu :: menu" />
			
			<div id="layoutSidenav_content">
			
			<main>
				<div class="container-fluid">
				
                    <div th:include="fragments/main_general :: main_general" />

					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
                            <li class="breadcrumb-item active">Registrar nuevo usuario</li>
                    </ol>

					<div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-user-plus mr-1"></i>
                            <span th:text="#{label.register}">Register user</span>
                        </div>
						<div class="card-body">
							<form>
								<div class="form-row">
									<div class="col-md-6">
                                    	<div class="form-group">
                                        	<label class="small mb-1" for="inputUsername" th:text="#{label.login}">Login</label>
                                        	<input class="form-control py-4" id="inputUsername" type="text" placeholder="Login" />
                                        </div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
                                        	<label class="small mb-1" for="inputName" th:text="#{label.name}">Nombre completo</label>
                                        	<input class="form-control py-4" id="inputName" type="text" placeholder="Nombre completo" />
                                        </div>
                                    </div>
								</div>
								<div class="form-group">
                                	<label class="small mb-1" for="inputEmailAddress" th:text="#{label.email}">Email</label>
                                	<input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Correo electronico" />
                                </div>
								<div class="form-row">
                                	<div class="col-md-6">
                                        <div class="form-group">
                                        	<label class="small mb-1" for="inputPassword" th:text="#{label.password}">Password</label>
                                            <input class="form-control py-4" id="inputPassword" type="password" placeholder="Password" />
                                    	</div>
                                	</div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputConfirmPassword">Confirmar</label>
                                            <input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="Confirmar" />
                                        </div>
                                	</div>
                                </div>
								<fieldset class="form-group">
									<legend class="col-form-label col-sm-2 pt-0" th:text="#{label.roles}">Roles</legend>
									<div class="col-sm-1">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="1" id="checkFacultative" checked>
											<label class="form-check-label" for="checkFacultative" th:text="#{label.facultative}">
											    Facultative
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="2" id="checkAdmin">
											<label class="form-check-label" for="checkAdmin" th:text="#{label.admin}">
											    Administrator
											</label>
										</div>
									</div>
								</fieldset>
								<button type="submit" class="btn btn-primary" th:text="#{label.registerUser}">Register user</button>
							</form>
						</div>
					</div>
				</div>
			</main>
			
			<footer class="py-4 bg-light mt-auto">
                <div th:include="fragments/copyright :: copyright" class="container-fluid"/>
				<div th:include="fragments/scripts :: general" />
            </footer>

			<script th:src="@{/js/register.js}"></script>
			
		</div>
		
	</body>

</html>